AUTH_URL=
CLIENT_ID=
CLIENT_SECRET=
AUDIENCE=

# Optional overrides
LEDGER_URL=http://34.41.232.35:7575/api/json-api
PARTY=palladium-validator-1::1220f66f5b1cb78abf40583917b0ea3ce18f546ea5f119de06d0ea1e7d1a250e0f3b

# Start offset (exclusive). If unset, we default to (ledgerEnd - INDEXER_TIP_BACKLOG)
# INDEXER_BEGIN_EXCLUSIVE=
INDEXER_TIP_BACKLOG=5000

